*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

body{
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-mobile{
  visibility: hidden;
  position: absolute;
}

.container{
  width: 500px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.main-image{
  width: 50%;
}

.main-text{
  height: 375px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-text h5{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 10px;
}

.main-text h1{
  font-size: 32px;
  font-family: serif;
  line-height: 25px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 10px;
}

.main-text p {
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  line-height: 18px;
  margin-bottom: 10px;
}

.cost{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cost h2{
  font-size: 30px;
  color: hsl(158, 36%, 37%);
}

.cost del{
  font-size: 12px;
  color: hsl(228, 12%, 48%);
}

.btn-buy{
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.5s;
}

.btn-buy img{
  height: 15px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: white;
}

.btn-buy:hover{
  background-color: hsl(158, 36%, 22%);
}

@media only screen and (max-width: 600px){
  .for-desktop{
    visibility: hidden;
    position: absolute;
  }

  .for-mobile{
    width: 100%;
    position: relative;
    visibility: visible;
  }

  .container{
    flex-direction: column;
    margin: 100px 0;
    width: 80%;
    border-radius: 8px;
  }

  .main-text{
    padding: 15px;
  }
}